body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  color: #4ab19a;
}

h1 {
  margin: 50px 0 8px;
  font-family: "Sacramento", cursive;
  font-size: 5.62rem;
  padding: 0;
}

.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}
.top-container h2 {
  margin: 0 0 100px 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 80px 0;
}
.profileImg {
  height: 150px;
  width: 150px;
}

.profile p {
  width: 450px;
  height: 100px;
  margin: 0 auto;
  line-height: 1.5;
}

.skills {
  margin: 80px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}

.skills-img-one {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.skills-img-two {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

/* For Button */

.contractButton {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #4ab19a;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  box-shadow: 1px 1px 5px 0 #000000;
  text-shadow: 1px 1px 5px #000000;
  border: solid #e0ebe8 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  
}

.contractButton:hover {
  background: #91a9a5;
  border: solid #e0ebe8 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}



/* For Social */


.social_btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 21px;
  font-weight: 600;
  padding: 10px;
  background-color: #4AB19A;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  box-shadow: 1px 1px 5px 0 #000000;
  text-shadow: 1px 1px 5px #000000;
  border: solid #E0EBE8 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.social_btn:hover {
  background: #91A9A5;
  border: solid #E0EBE8 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}